# Visual Studio
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Folders
**/bin/
**/obj/
**/out/
**/publish/

# Rider IDE
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
packages/
# NuGet v3
project.lock.json
project.fragment.lock.json

# Publish Output
publish/

# OS Files
*.DS_Store
Thumbs.db

# Logs
*.log

# Secrets / Configuration
**/appsettings.json
**/appsettings.Development.json
secrets.json

# keep shareable example configs
!**/appsettings.example.json